<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <title>WeLab Bank</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="/assets/css/quick-website.css" id="stylesheet">
</head>
{% load templatetags %}
<body>
    <section>
        <div class="container">
            <div class="py-6 container-top"></div>
            <div class="comment-box" id="comment">
                <hr>
                <h2>Leave a comment</h2>
                <div class="form-group">
                    <textarea class="form-control form-control-lg" placeholder="Publish a theatrical commentary" rows="5" required id="textComments"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-block btn-lg btn-primary mt-4 mb-5" id="sendMessage">Send your message</button>
                </div>
                <div class="mb-10 comment-lines"></div>
            </div>
        </div>
    </section>
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            © 2022 WELEND LIMITED 版權所有
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="/assets/js/details.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/feather-icons/dist/feather.min.js"></script>
</body>
</html>