*{margin: 0;padding: 0}
li{list-style:none;}

body{
    width:100%;
    min-height: 3200px;
    background: url("../images/bg.jpg");
    background-size:cover;
}
.one{
    width:1200px;
    height:940px;
    margin: 0 auto;
}
.container{
    width:1200px;
    height:400px;
    margin: 0 auto;
    position: relative;
}
.container>span.xing{position: absolute;top:34px;left:96px;opacity: 0}
.container:hover span.xing{transition: all 1s linear;opacity: 1}
.love{
    position: absolute;
    top:15%;
    left:43%;
    color:#fff;
    font-size: 5em;
    animation:love 9s ease-in;
}
@keyframes love{from {opacity: 0;margin-top:-50%;}to {margin-top:0;opacity: 1;}}

#m-love{position:relative;}
#m-love>span:nth-child(1){position: absolute;top:800px;left:135px;}

#m-love>span:nth-child(2)>img{position: absolute;top:600px;left:73px;animation:m2 4s ease infinite;}
@keyframes m2{from {transform:rotateY(0deg);}to {transform:rotateY(-360deg);}}


#m-love>span:nth-child(3)>img{position: absolute;top:686px;left:200px;animation:m3 .6s ease infinite;}
@keyframes m3{from {width:80px;height:88px;}to {width:125px;height:139px;}}
#m-love>span:nth-child(4)>img{position: absolute;top:320px;left:154px;transform:rotate(-31deg);animation:m4 10s ease infinite;}
@keyframes m4
{
    0%   {top:820px;left:945px;}
    5%   {top:710px;left:918px;}
    10%   {top:710px;left:773px;}
    15%   {top:602px;left:751px;}
    20%   {top:537px;left:894px;}
    25%  {top:498px;left:768px;}
    35%   {top:418px;left:745px;}
    45%   {top:418px;left:572px;}
    55%  {top:446px;left:488px;}
    70%   {top:384px;left:334px;}
    85%   {top:346px;left:242px;}
    100% {top:320px;left:154px;}
}
#m-love>span:nth-child(5){position: absolute;top:850px;left:440px;animation:m5 5s ease-in infinite;}
@keyframes m5{from {width:50px;height:56px;opacity: 0}to {width:115px;height:131px;opacity: 1}}

#m-love>span:nth-child(6)>img{position: absolute;top:658px;left:402px;transform:rotate(-31deg);animation:m6 10s ease infinite;}
@keyframes m6{from {transform:rotate(0deg);}to {transform:rotate(-360deg);}}
#m-love>span:nth-child(8){position: absolute;top:450px;left:170px;}



.gallery{
    width: 100%;
    height:300px;
    position: absolute;
    top:28%;
	left:-3%;
    z-index: 10;
}
.gallery>li{position:absolute;list-style: none;}
.gallery>li:nth-child(1){position:absolute;left:39%;animation:left1 3s ease-in;}
@keyframes left1{from {opacity: 0;margin-left:-50%;}to {margin-left:0;opacity: 1;}}

.gallery>li:nth-child(2){position:absolute;left:34%;;animation:top1 4s ease-in;}
@keyframes top1{from {opacity: 0;margin-top:-50%;}to {margin-top:1%;opacity: 1;}}

.gallery>li:nth-child(3){position:absolute;right:34%;animation:right1 5s ease-in;}
@keyframes right1{from {opacity: 0;margin-right:-50%;}to {margin-right:0;opacity: 1;}}

.gallery>li:nth-child(4){position:absolute;right:29%;;animation:top1 3s ease-in;}
@keyframes top2{from {opacity: 0;margin-top:-50%;}to {margin-top:1%;opacity: 1;}}

.gallery>li:nth-child(5){left:40%;top:20%;animation:left1 1s ease-in;}
.gallery>li:nth-child(6){left:35%;top:20%;animation:top1 2s ease-in;}
.gallery>li:nth-child(7){left:45%;top:20%;animation:left1 3s ease-in;}
.gallery>li:nth-child(8){left:30%;top:20%;animation:left1 4s ease-in;}
.gallery>li:nth-child(9){right:34%;top:20%;animation:right1 4s ease-in;}
.gallery>li:nth-child(10){right:29%;top:20%;animation:top1 2s ease-in;}
.gallery>li:nth-child(11){right:39%;top:20%;animation:right1 3s ease-in;}
.gallery>li:nth-child(12){right:24%;top:20%;animation:right1 1s ease-in;}
.gallery>li:nth-child(13){left:41%;top:40%;animation:left1 4s ease-in;}
.gallery>li:nth-child(14){left:36%;top:40%;animation:top1 3s ease-in;}
.gallery>li:nth-child(15){left:46%;top:40%;animation:left1 2s ease-in;}
.gallery>li:nth-child(16){left:31%;top:40%;animation:left1 1s ease-in;}
.gallery>li:nth-child(21){left:51%;top:40%;animation:top1 3s ease-in;}
.gallery>li:nth-child(17){right:25%;top:40%;animation:right1 2s ease-in;}
.gallery>li:nth-child(18){right:35%;top:40%;animation:top1 1s ease-in;}
.gallery>li:nth-child(19){right:40%;top:40%;animation:right1 4s ease-in;}
.gallery>li:nth-child(20){right:30%;top:40%;animation:right1 2.5s ease-in;}
.gallery>li:nth-child(22){left:39%;top:60%;animation:left1 1s ease-in;}
.gallery>li:nth-child(23){left:34%;top:60%;animation:top1 2s ease-in;}
.gallery>li:nth-child(24){left:44%;top:60%;animation:left1 2.5s ease-in;}
.gallery>li:nth-child(25){right:37%;top:60%;animation:right1 3s ease-in;}
.gallery>li:nth-child(26){right:32%;top:60%;animation:top1 4s ease-in;}
.gallery>li:nth-child(27){right:42%;top:60%;animation:right1 1s ease-in;}
.gallery>li:nth-child(28){left:49%;top:60%;animation:right1 3s ease-in;}
.gallery>li:nth-child(29){right:27%;top:60%;animation:top1 2s ease-in;}
.gallery>li:nth-child(30){left:44%;top:80%;animation:left1 3s ease-in;}
.gallery>li:nth-child(31){right:32%;top:80%;animation:right1 4s ease-in;}
.gallery>li:nth-child(32){right:42%;top:80%;animation:top1 1s ease-in;}
.gallery>li:nth-child(33){right:37%;top:80%;animation:right1 2s ease-in;}
.gallery>li:nth-child(34){left:39%;top:80%;animation:top1 2s ease-in;}
.gallery>li:nth-child(35){right:47%;top:80%;animation:right1 2.5s ease-in;}
.gallery>li:nth-child(36){right:37%;top:100%;animation:top1 3.5s ease-in;}
.gallery>li:nth-child(37){left:44%;top:100%;animation:left1 3s ease-in;}
.gallery>li:nth-child(38){right:42%;top:100%;animation:right1 2s ease-in;}
.gallery>li:nth-child(39){right:47%;top:100%;animation:top1 4s ease-in;}
.gallery>li:nth-child(40){right:42%;top:120%;animation:right1 1.5s ease-in;}
.gallery>li:nth-child(41){left:49%;top:120%;animation:top1 2.7s ease-in;}

.clear{clear:both;}

.container>p{
    position: absolute;
    top: 480px;
    left:16%;
    width:1000px;
    height:491px;
		transition: all 1s linear;
    animation:love 1s ease;
}

/*第二部分图片  切入图*/
#nav{
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    padding: 20px 0;
    border: 10px solid blue;
    border-image: url("../images/70d48df7acbe3439b51a5b89c84ddf63.png") 50 50 50 50 repeat;
}
#nav ul{
    position:relative;
    overflow: hidden;
    height:150px;
}
#nav ul img{
    transition: all 0.5s linear;
}
#nav>ul>li:nth-child(1){
    position:absolute;
    left: 50px;
    top:0;
    float: left;
    z-index: 100;
    transform: translatex(-85px) translatey(155px);
    transition: all 0.5s linear;
}
#nav>ul>li:nth-child(2){
    position:absolute;
    left: 176px;
    top:0;
    float: left;
    z-index: 100;
    transform: translatex(90px) translatey(-155px);
    transition: all 0.5s linear;
}
#nav>ul>li:nth-child(3){
    position:absolute;
    left:363px;
    top:0;
    float:left;
    z-index: 100;
    transform: translatex(-90px) translatey(155px);
    transition: all 0.5s linear;
}
/*#nav ul:hover li{*/
/*transform: translatex(0) translatey(0);*/
/*}*/
#nav>ul>li:nth-child(4){
    position:absolute;
    left:410px;
    transform: translatex(60px);
    opacity:1;
    transition: all 0.5s linear;
}

.li_div{
    background:#eee;
    border-radius:10px;
    position:absolute;
    right:50px;
    top:20px;
    width:390px;
    height:150px;
    overflow: hidden;
    z-index:100;
    opacity:0;
    transition: all 1s linear;
    /*border:1px solid red;*/
    /*overflow: hidden;*/
}
.li_div p:nth-child(1){
    position:absolute;
    top:0;
    left:0;
    right:20px;
    width:390px;
		padding: 10px;
    box-sizing: border-box;
    height:150px;
    z-index: 100;
    background:#E56389;
    /*border:1px solid blue;*/
    display:block;
    transform:translate(0px);
    transition:all .5s linear;
}
.li_div p:nth-child(2),
.li_div p:nth-child(3),
.li_div p:nth-child(4){  position:absolute;
    top:0;
    width:390px;
    height:150px;
    z-index: 100;
		padding: 10px;
    box-sizing: border-box;
    /*border:1px solid blue;*/
    display:block;
    transform:translate(310px);
    transition:all .5s linear;


}



/*第二部分图片  切入图  结束*/

/*第三部分开始*/
#three{
    width:1000px;
    height:500px;
    margin: 35px auto;

}

.main{ width:660px; border:1px solid #ccc; height:440px; margin:0 auto;}
.view{ width:150px; height:200px; overflow:hidden; position:relative;
    float: left;margin: 10px;
    margin-left: 33px;
    box-sizing: border-box;
}
.hover{
    width:150px; background:rgba(0, 0 ,0 ,0.5); position:absolute; top:40px; left:0; text-align:center; color:#fff;
    transform:rotate(55deg);
    transition:all 0.5s;
    overflow:hidden; height:0; z-index:4000;
    /*transform:translateX(200px);*/}
    /*写好样式，进行隐藏，用overflow:hidden; height:0;*/
.hover h3{color:#fff; border-bottom:2px solid rgba(255, 255 ,255, 0.5); padding-bottom:10px;}
.view:hover .hover{
    height:120px;
    transform:rotate(0deg);
}
/*before   after为选择器，一般给选择器加动画背景，设置动画样式*/
.view:before{
    content:""; position:absolute; top:-240px; right:0;width:360px; height:360px; background:rgba( 150, 50, 100,0.5);
    transform:rotate(55deg) translateX(60px);
    transform-origin:100% 0%;
    transition:all 0.5s ease 0.3s;
}
/*写好样式，进行隐藏，用top:-240px;*/
.view:hover:before{ top:0;}
.view:after{
    content:""; position:absolute;bottom:-240px; left:0;width:360px; height:360px; background:rgba( 150, 50, 100,0.5);
    transform:rotate(55deg) translateX(-60px);
    transform-origin:0% 100%;
    transition:all 0.5s ease 0.3s;
}

.view:hover:after{ bottom:0;}
.my-big{padding-left:35px;}


/*第三部分结束*/
/*第四部分开始*/
#four{
    width:1000px;
    height:850px;
    padding-top:350px;
    margin: 0 auto;
    position: relative;
}


/*鼠标悬停图片变大*/
#four>ul.f-photo>li{
    float: left;
}
#four>ul.f-photo>li>img{
    position: relative;
    z-index:10;
    transition: all .5s linear;

}
#four>ul.f-photo>li>img:hover{
    transform: scale(1.05);
    z-index:1000;
    position: relative;
}
#four>ul.f-photo{position: relative;}
/*第一张图片*/
#four>ul.f-photo>li:nth-child(1){
    position: absolute;
    top: -12px;
    left:144px;
    /*animation:ww 2s linear;*/
    transform: translate(-300px);
    opacity:0;
    transition: all 1.5s linear;
}


/*第二张图片*/
#four>ul.f-photo>li:nth-child(2){
    position: absolute;
    top:-8px;
    right:182px;
    /*animation:gg 2s linear;*/
    transform: translate(300px);
    opacity:0;
    transition: all 1.5s linear;
}


/*第三张图片*/
#four>ul.f-photo>li:nth-child(3){
    position: absolute;
    top: 410px;
    left:144px;
    opacity:0;
    /*animation:ww 2s linear;*/
    transform: translate(-300px);
    transition: all 1.5s linear;
}

/*第四张图片*/
#four>ul.f-photo>li:nth-child(4){
    position: absolute;
    top: 410px;
    right:182px;
    opacity:0;
    /*animation:gg 2s linear;*/
    transform: translate(300px);
    transition: all 1.5s linear;
}

#min_pic1{
    position: relative;
}
#four>#f-top{
    width:600px;
    height:450px;
    margin:0 auto;
}
#four>ul.f-photo>li>img{z-index: 100}
/*第一张图片边边////////////////////////*/
#min_pic1>img:nth-child(1){
    position: absolute;
    left: 326px;
    top: -199px;
    animation: img1 2s linear 1s infinite;
    opacity: 0;
    transform: rotate(-135deg);
}
@keyframes img1{
    from{left:326px;top:-199px;opacity: 0;}
    to{left:160px;top:-371px;opacity: 1;}}

#min_pic1>img:nth-child(2){
    position: absolute;
    opacity: 0;
    left:158px;top:-525px;
    transform: rotate(135deg);
    animation: img2 2s linear 3s infinite;
}
@keyframes  img2{
    from{left:158px;top:-525px;opacity: 0;}
    to{left:-82px;top:-287px;opacity: 1;}}

#min_pic1>img:nth-child(3){
    position: absolute;
    opacity: 0;
    left:-193px;top:-260px;
    transform: rotate(45deg);
    animation: img3 3s linear 4s infinite;
}
@keyframes img3 {
    0%{left:-193px;top:-260px;opacity: 0;z-index: 10;}
    100%{left:272px;top:166px; opacity: 1;z-index: 10;}}
/*二图片边边、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、*/
#min_pic2>img:nth-child(1){
    position: absolute;
    right: 335px;
    top: 230px;
    animation: img4 2s linear 1s infinite;
    opacity: 0;
    transform: rotate(-45deg);}
@keyframes img4 {
    from{right:335px;top:230px;opacity: 0;}
    to{right:178px;top:73px;opacity: 1;}}

#min_pic2>img:nth-child(2){
    position: absolute;
    right: 110px;
    top: -52px;
    opacity: 0;
    transform: rotate(45deg);
    animation: img5 2s linear 3s infinite;}
@keyframes  img5{
    from{right:110px;top:-52px;opacity: 0;}
    to{right:-73px;top:132px;opacity: 1;}}

#min_pic2>img:nth-child(3){
    position: absolute;
    right:-226px;top:130px;
    opacity: 0;
    transform: rotate(314deg);
    animation: img6 3s linear 4s infinite;}
@keyframes img6{
    0%{right:-226px;top:130px;opacity: 0;}
    100%{right:254px;top:575px; opacity: 1;}
}

/*三图片边边。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
#min_pic3>img:nth-child(1){
    position: absolute;
    left:315px;
    bottom:213px;
    animation: img7 2s linear 1s infinite;
    opacity: 0;
    transform: rotate(-45deg);}
@keyframes img7 {
    from{left:315px;bottom:213px;opacity: 0;}
    to{left:41px;bottom:-60px;opacity: 1;}}

#min_pic3>img:nth-child(2){
    position: absolute;
    right: 2px;
    bottom:-94px;
    opacity: 0;
    transform: rotate(-135deg);
    animation: img8 2s linear 3s infinite;
}
@keyframes  img8{
    from{right:2px;bottom:-94px;opacity: 0;}
    to{right:225px;bottom:119px;opacity: 1;}}

#min_pic3>img:nth-child(3){
    position: absolute;
    right:387px;bottom:145px;
    opacity: 0;
    transform: rotate(135deg);
    animation: img9 3s linear 4s infinite;
}
@keyframes img9{
    0%{right:387px;bottom:146px;opacity: 0;}
    100%{right:-108px;bottom:593px; opacity: 1;}
}

/*四图片边边。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
#min_pic4>img:nth-child(1){
    position: absolute;
    left:-131px;
    bottom:193px;
    animation: img10 2s linear 1s infinite;
    opacity: 0;
    transform: rotate(45deg);}
@keyframes img10 {
    from{left:-131px;bottom:193px;opacity: 0;}
    to{left:152px;bottom:-87px;opacity: 1;}}

#min_pic4>img:nth-child(2){
    position: absolute;
    right: 160px;
    bottom:-98px;
    opacity: 0;
    transform: rotate(135deg);
    animation: img11 2s linear 3s infinite;
}
@keyframes  img11{
    from{right:160px;bottom:-98px;opacity: 0;}
    to{right:-67px;bottom:127px;opacity: 1;}}

#min_pic4>img:nth-child(3){
    position: absolute;
    right:-68px;bottom:300px;
    opacity: 0;
    transform: rotate(45deg);
    animation: img12 3s linear 4s infinite;
}
@keyframes img12{
    0%{right:-68px;bottom:300px;opacity: 0;}
    100%{right:294px;bottom:613px; opacity: 1;}
}
/*第四部分的遮罩层*/
#trans_big{
    width:800px;
    height:420px;
    position:absolute;
    bottom:-421px;
    left:83px;
    overflow: hidden;

}
#trans{
    width:600px;
    height:300px;
    background:#eee;
    position:absolute;
    bottom:50px;
    left:94px;
    background:rgba(201,31,80,0.3);
    transform:translate(730px);
    transition:all 1.5s linear;
    opacity:1;

}
#trans p{
    /*margin:20px 40px  20px 50px;*/
    padding:5px 0;
    width:400px;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
    background:black;
    color:white;
    border-radius:10px;
    background:rgba(0,0,0,0.5);
    transform:translate(-1200px);
    opacity:0;

}





#bull{
    position: relative;
}
#bull>span>img{width:80px;height:80px;}
#bull>span:nth-child(1)>img{position: absolute;top:508px;left: 10px;animation: b1 linear 10s infinite;}
@keyframes b1{
    0%{top:508px;left: 10px;opacity: 1;width:80px;height:80px;}
    100%{top:-508px;left: -169px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(2)>img{position: absolute;top:250px;left:30px;animation: b2 linear 10s infinite;}
@keyframes b2{
    0%{top:250px;left:30px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;left:80px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-508px;left: 319px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(3)>img{position: absolute;top:350px;left:200px;animation: b3 linear 15s infinite;}
@keyframes b3{
    0%{top:350px;left:200px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;left:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-608px;left: 185px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(4)>img{position: absolute;top:200px;left: 10px;animation: b4 linear 10s infinite;}
@keyframes b4{
    0%{top:200px;left:10px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;left:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:608px;left: 85px; opacity: 0;width:154px;height:154px;}
}
#bull>span:nth-child(5)>img{position: absolute;top:10px;left: 10px;animation: b5 linear 16s infinite;}
@keyframes b5{
    0%{top:10px;left:10px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;left:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-308px;left: 85px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(6)>img{position: absolute;top:10px;left: 10px;animation: b6 linear 15s infinite;}
@keyframes b6{
    0%{top:200px;left:10px;opacity: 1;width:80px;height:80px;}
    100%{top:508px;left: -185px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(7)>img{position: absolute;top:10px;left: 10px;animation: b6 linear 9s infinite;}
@keyframes b6{
    0%{top:508px;left:110px;opacity: 1;width:80px;height:80px;}
    100%{top:-245px;left: -385px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(8)>img{position: absolute;top:508px;right: 10px;animation: b8 linear 16s infinite;}
@keyframes b8{
    0%{top:508px;right: 10px;opacity: 1;width:80px;height:80px;}
    100%{top:-508px;right: -169px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(9)>img{position: absolute;top:250px;right:30px;animation: b9 linear 14s infinite;}
@keyframes b9{
    0%{top:250px;right:30px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;right:80px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-508px;right: 319px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(10)>img{position: absolute;top:350px;right:200px;animation: b10 linear 15s infinite;}
@keyframes b10{
    0%{top:350px;right:200px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;right:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-608px;right: 185px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(11)>img{position: absolute;top:200px;right: 10px;animation: b11 linear 10s infinite;}
@keyframes b11{
    0%{top:200px;right:10px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;right:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:608px;right: 85px; opacity: 0;width:154px;height:154px;}
}
#bull>span:nth-child(12)>img{position: absolute;top:10px;right: 10px;animation: b12 linear 13s infinite;}
@keyframes b12{
    0%{top:10px;right:10px;opacity: 1;width:80px;height:80px;}
    50%{top:450px;right:-50px;opacity: 0.5;width:110px;height:110px;}
    100%{top:-308px;right: 85px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(13)>img{position: absolute;top:10px;right: 10px;animation: b13 linear 11s infinite;}
@keyframes b13{
    0%{top:200px;right:10px;opacity: 1;width:80px;height:80px;}
    100%{top:508px;right: -185px; opacity: 0;width:154px;height:154px;}
}

#bull>span:nth-child(14)>img{position: absolute;top:10px;right: 10px;animation: b14 linear 8s infinite;}
@keyframes b14{
    0%{top:508px;right:110px;opacity: 1;width:80px;height:80px;}
    100%{top:-245px;right: -385px; opacity: 0;width:154px;height:154px;}
}
/*第四部分结束*/

/*第五部分开始*/
#f-pic{width:920px;height:595px;margin: 0 auto;margin-top:540px;}
.img { float: left; width: 300px; height: 200px; overflow: hidden; margin: 0 5px 5px 0; }
.img .inner { position: relative; }
.img .inner div { position: absolute; top: 0; left: 0; width: 300px; height: 200px; }
.img .inner img { width: 100%; height: 100%; }
.img .inner div:last-child { opacity: 0; }
/*第五部分结束*/

/*第六部分开始*/
#times{
    width:100%;
    height:500px;
    margin: 0 auto;
    text-align: center;

}
#container1{width:742px;height:500px;position: relative;}
#egg{position: absolute;top:-23px;left:-29px; z-index: 20}
#list{
    width:550px;
    height:400px;
    margin: 0 auto;
    text-align: center;
    position:absolute;
    top:16px;left:96px;
    overflow: hidden;
    z-index: 1;
}
#list>img{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:all 3s linear;

}
#list>img.show{
    opacity:1;
    z-index:10;
}

/*第六部分结束*/
/*页脚开始*/
#footer{
    width:100%;
    height:200px;
   background: #e4393c;
    text-align: center;
}

/*页脚结束*/