@keyframes ani_star {
    0%{opacity: 1}
    33%{opacity: .4}
    66%{opacity: .6}
    100%{opacity: 0}
}
div.back_star {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
}
div.back_star.z0{
    background-image: url(../star0.png);
    animation: ani_star 11s infinite alternate;
}
div.back_star.z1{
    background-image: url(../star1.png);
    animation: ani_star 7s infinite alternate;
}
div.back_star.z2{
    background-image: url(../star2.png);
    animation: ani_star 5s infinite alternate;
}
div.back_star.z3{
    background-image: url(../star3.png);
    animation: ani_star 3s infinite alternate;
}
